
/* Estilos para dispositivos menores de 400px de ancho */
@media (max-width: 400px) {
    body {
        font-family: 'Calibri', sans-serif;
        font-size: 6pt;
        color: red;
        background-image: url(./Fotos/mileniofoto1.jpeg);
    }
}

/* Estilos para dispositivos entre 400px y 800px de ancho */
@media (min-width: 401px) and (max-width: 800px) {
    body {
        font-family: 'Cambria', serif;
        font-size: 8pt;
        color: blue;
        background-image: url(./Fotos/mileniofoto2.jpeg);
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    body {
        font-family: '  Comic Sans Ms', sans-serif;
        font-size: 10pt;
        color: green;
        background-image: url(./Fotos/mileniofoto3.jpeg);
    }
}
@media (min-width: 1201px) and (max-width: 1600px) {
    body {
        font-family:'Times New Roman', Times, serif;
        font-size: 12pt;
        color: yellow;
        background-image: url(./Fotos/mileniofoto4.jpeg);
    }
}
@media (min-width: 1601px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
        color: orange;
        background-image: url(./Fotos/mileniofoto5.jpeg);
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura de la página al tamaño de la ventana */
}

header, footer {
    background-color: #333;
    color: white;
    padding: 5 px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #f0f0f0;
}

.content-container {
    display: flex;
    flex: 1; /* Toma el espacio disponible */
    justify-content: space-between; /* Alinea los elementos con espacio entre ellos */
}

.content {
    flex: 1; /* Toma el espacio disponible */
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
}

aside {
    flex: 1; /* Toma el espacio disponible */
    padding: 20px;
    margin: 10px;
    background-color: #ddd;
}

.content-2-3 {
    flex: 1; /* Toma el doble del espacio */
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
}

/* Otros estilos comunes para la página */
.content {
    text-align: center;
    padding: 20px;

}
