
/* Estilos para dispositivos menores de 400px de ancho */
@media (max-width: 400px) {
    body {
        font-family: 'Calibri', sans-serif;
        font-size: 6pt;
        color: rgba(122, 8, 8, 0.8);
        background-image: url(../Fotos/fondomilenio1.jpeg);
    }
    .content a{
        color: rgba(122, 8, 8, 0.8);
    }
    .content a:active{
        color: rgba(122, 8, 8, 0.8);
    }
    .content a:visited{
        color: rgba(122, 8, 8, 0.8);
    }
    aside a{
        color: rgba(122, 8, 8, 0.8);
    }
    aside a:active{
        color: rgba(122, 8, 8, 0.8);
    } 
    aside a:visited{
        color: rgba(122, 8, 8, 0.8);
    }

}
.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #f5efe8;
    text-transform: uppercase;
    font-size: 20px;
}

/* Estilos para dispositivos entre 400px y 800px de ancho */
@media (min-width: 401px) and (max-width: 800px) {
    body {
        font-family: 'Cambria', serif;
        font-size: 8pt;
        color: blue;
        background-image: url(../Fotos/fondomilenio2.jpg);
    }
    .content a{
        color: blue;
    }
    .content a:active{
        color: blue;
    }
    .content a:visited{
        color: blue;
    }
    aside a{
        color: blue;
    }

    aside a:active{
        color: blue;
    } 
    aside a:visited{
        color: blue;
    }

}

@media (min-width: 801px) and (max-width: 1200px) {
    body {
        font-family: '  Comic Sans Ms', sans-serif;
        font-size: 10pt;
        color: green;
        background-image: url(../Fotos/fondomilenio3.jpeg);
    }
    .content a{
        color: green
    }
    .content a:active{
        color: green;
    }
    .content a:visited{
        color: green;
    }
    aside a{
        color: green;
    }
    aside a:active{
        color: green;
    } 
    aside a:visited{
        color: green;
    }

}
@media (min-width: 1201px) and (max-width: 1600px) {
    body {
        font-family:'Times New Roman', Times, serif;
        font-size: 12pt;
        color: yellow;
        background-image: url(../Fotos/fondomilenio4.jpeg);
    }
    .content a{
        color: yellow
    }
    .content a:active{
        color: yellow;
    }
    .content a:visited{
        color: yellow;
    }
    aside a{
        color: yellow;
    }
    aside a:active{
        color: yellow;
    } 
    aside a:visited{
        color: yellow;
    }

}
@media (min-width: 1601px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
        color: orange;
        background-image: url(../Fotos/fondomilenio5.jpeg);
    }
    .content a{
        color: orange;
    }
    .content a:active{
        color: orange;
    }
    .content a:visited{
        color: orange;
    }
    aside a{
        color: orange;
    }
    aside a:active{
        color:  orange;
    } 
    aside a:visited{
        color: orange;
    }

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header, footer {
    background-color: #012d46;
    color: #f5efe8;
    padding: 5 px;
    text-align: center;

}

nav {
    background-color:#012d46;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #f5efe8;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #f0f0f0;
}

.content-container {
    display: flex;
    flex: 1; 
    justify-content: space-between; 
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgba(4, 82, 98, 0.8);
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(154, 175, 179, 1);
}
.content:hover {
    box-shadow: 10px 10px 20px rgba(154, 175, 179, 1); 
  }
.content a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
  }

aside {
    flex: 1; 
    padding: 20px;
    margin: 10px;
    background-color: rgba(4, 82, 98, 0.8);
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(154, 175, 179, 1);
}
aside:hover {
    box-shadow: 10px 10px 20px rgba(154, 175, 179, 1); 
  }
aside a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
  }


.queES {
    flex: 1; 
    padding: 20px;
    margin: 10px;
    background-color: rgba(4, 82, 98, 0.8);

    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(154, 175, 179, 1);
}
.queES:hover {
    box-shadow: 10px 10px 20px rgba(154, 175, 179, 1); 
  }

  header a {
    color: #f5efe8;
    text-decoration: none;

}

header a:hover {
    color: #f0f0f0;
}